
:root {  /*sirve para hacer nuestras propias variables */
    --blanco : #ffffff;
    --oscuro: #212121;
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris: #757575;


}

html{
    font-size: 62.5%;
}
body {                           /*  las dos primeras opciones de arrba es para usar los rems 
    y que el codigo se adapte mejor a cualquier ordenador*/
    font-size: 16px;
    font-family: "Krub", serif;/*si lo colocamos en el body ira en todos los elementos*/
}

.titulo{   /*no es recomendado usar id*/ 
    text-align:center;
    font-size: 3.9rem;
    color: var(--secundario); /* esta es la manera de poner nuestras variables*/
    font-family: "Krub", serif;/* agregar tipos de letras*/
}
.titulo{
    font-size : 3rem;
}
.titulo span{
    font-size : 2rem; 
}
.nav-main{
    color : var(--blanco);
    display:flex;/* nos habilita nuevas propiedades para las barras de navegacion*/
    justify-content: space-between; /* esto genera  la separacion entre las nav*/
   /* flex-direction: column;*/ /* esto hace que las barras de navegaciones esten acomodadas por columna*/
    

}
.nav-main a{
    color : var(--blanco);
    text-decoration: none;/* esto es para que en las palabras de navegacion no se vean con una linea abajo, en si el none es para que no se vea nada */

}
.contenedor{  /* esto en si es como se va a ver el disenio de las navegaciones*/
    width: 120rem;
    margin-top: 0;  /* lo que hace esto es poder dar separacion de margen*/
    margin-right: auto;/* esto hace qie que sea su posicon automatica y como ambos lados quedan auto, queda centrado*/
    margin-bottom: 0; /* esto lo que hace es darle saparacion hacia abajo*/
    margin-left: auto; /* lo q explique con el de r*/
    margin: 0 auto 0 auto;  /* esto es exactamente lo mismo que lo de arriba, funciona como un reloj*/
    padding: 1rem;/* esto lo que hace es darle grosor a la barra de color, a diferencia del margin que solo da el espaciado, sin embargo
    depende de el espacio del  margin el grosor del padding*/
  
}
.nav-bg{
    background-color: var(--secundario);/* cuando ponemos esto, se aplica a tooodo el color de fondo*/

}